body{
	margin: 0;
	padding: 0;
	margin-top: -20px;
	position: relative;
}
/*----------------------------------------------------------------*/
/*ENCABEZADO*/
/*----------------------------------------------------------------*/
header{
	width: 960px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -20px;
	background-color: #695958;
	padding: 0px;
}

@font-face{
		font-family:'deco';
		src: url(fonts/Market_Deco.ttf)
		format('truetype');
}
@font-face{
		font-family:'rose';
		src: url(fonts/Bellerose.ttf)
		format('truetype');
}

#logotipo{
	width: 400px;
	height: 90px;
	margin-left: 280px;
	text-align: center;
}
#logotipo h1{
	color: #E7D8C9;
	font-family:'deco';
	font-size: 60px;
	margin-top: 20px;
}

#bienvenida{
	width: 300px;
	height: 30px;
	margin-left: 330px;
	float: none;
	text-align:center;
}

#saldo{
	width: 120px;
	height: 35px;
	margin-left: 10px;
	float: left;
	text-align:center;
}

#nombre{
	font-family:'deco';
	font-size: 20px;
	color: #EEE4E1;
}
#saldoDis{
	font-family:'deco';
	font-size: 20px;
	color: #EEE4E1;

}
#log{
	width: 180px;
	height: 30px;
	float: right;
	margin-top: -50px;
}
.singIn{
	font-family:'deco';
	font-size: 20px;
	color: #EEE4E1;
	margin-left: 10px;
	text-decoration: underline;
}
.singIn:hover{
	color: #000000;
	transition: 0.2s;
}

.cart{
	width: 200px;
	height: 35px ;
	margin-left: 150px;
}
.cart-img{
	width: 20px;
	height: 20px;
	float: left;
}

.cart-img img{
	width: auto;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
.cart-cuerpo{
	font-family:'deco';
	font-size: 20px;
	font-weight: bold;
	color: #EEE4E1;
	text-align:right;
}
.pTotal{
	color: #C8B888;
}
#add-carro{
	height: 30px;
	width: 150px;
	margin-top: 5px;
	margin-left: 35px;
	color: #ffffff;
	font-family:'deco';
	font-size: 15px;
	font-weight:bold;
	background-color: #695958;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	text-decoration: none;
	text-decoration-line: none;
	text-align: center;
	outline: none;
}
#add-carro:hover{
	background-color: #c8b888;
	color: #000000;
	transition: 0.5s;
	cursor: pointer;
}
#redes{
	width: 240px;
	height: 35px;
	float: right;
	padding: 0px;
}
#redes ul{
	list-style-type: none;
}
#redes ul li{
	display: inline;
	margin-left: 20px;
}
#redes ul li a{
	display: inline-block;
	margin-right: 0px;
}
#redes	img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #695958;
}
#redes img:hover{
	background-color: #695958;
	transition: 0.2s;
	box-shadow: 0 12px 10px 0 rgba(216,219,226,0.24), 0 15px 50px 0 rgba(216,219,226,0.19);
}
/*----------------------------------------------------------------*/
/*INICIO*/
/*----------------------------------------------------------------*/
#inicio{
	width: 960px;
	height: 1610px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4c5760;
}
#menu{
	width: 100%;
	height: 40px;
	margin-top: 0px;
	padding: 0px;
	background-color: #C8B888;
}
#menu ul{
	list-style-type: none;
}
#menu ul li{
	display: inline;
}
#menu ul li a{
	display: inline-block;
	height: 40px;
	width: 320px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
	text-decoration: none;
	text-decoration-line: none;
	color: #000000;
	font-family:'deco';
	font-size: 20px;
}
#menu p{
	margin-top: 10px;
}
#menu a:hover{
	background-color: #b2945b;
	height: 40px;
	margin-top: 0px;
	transition: all 0.3s;
}
#btnInicio{
	margin-left: -40px;
}
#btnMenus{
	margin-left: -5px;
}
#btnContacto{
	margin-left: -5px;
}
#foto1{
	width: 900px;
	height: 550px;
	float: left;
	padding: 5px 5px 5px 5px;
	margin-left: 25px;
	margin-top: 15px;
	background-color: #ffffff;
}
#lugar1{
	width: 900px;
	height: 550px;
}
#texto1{
	width: 300px;
	height: 400px;
	float: left;
	margin-left: 50px;
	margin-top: 25px;
	text-align: left;
}
#texto1 h3{
	font-family:'rose';
	font-size: 16px;
	font-weight: 100;
	font-stretch: condensed;
	color: #ffffff;
}
#posters{
	width: 570px;
	height: 420px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
}
#poster1{
	float: left;
	width: 270px;
	height: 420px;
}
#poster2{
	float: right;
	width: 290px;
	height: 420px;
}
#irMenu ul{
	list-style-type: none;
}

#irMenu ul li{
	display: inline;
}
#irMenu ul li a{
	display: inline-block;
	height: 40px;
	width: 220px;
	padding: 0px;
	float: none;
	margin-top: 40px;
	margin-left: 320px;
	text-align: center;
	text-decoration: none;
	text-decoration-line: none;
	color: #ffffff;
	font-family:'deco';
	font-size: 20px;
	background-color: #695958;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
}
#irMenu p{
	margin-top: 10px;
}

#irMenu a:hover{
	background-color: #c8b888;
	color: #000000;
	cursor: pointer;
}
#foto2{
	width: 320px;
	height: 320px;
	float: left;
	margin-left: 20px;
	margin-top: 30px;
	padding: 2px 2px 2px 2px;
	background-color: #ffffff;
}
#granos{
	width: 320px;
	height: 320px;
}
#foto3{
	width: 570px;
	height: 400px;
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	padding: 2px 2px 2px 2px;
	background-color: #ffffff;
}
#grupal{
	width: 570px;
	height: 400px;
}

/*----------------------------------------------------------------*/
/*PIE DE PAGINA*/
/*----------------------------------------------------------------*/
footer{
	width: 960px;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	background-color: #929487;
}
h4{
	width: 100px;
	margin-left: 445px;
	margin-top: 0px;
	color: #E7D8C9;
	font-family:'deco';
	font-size: 50px;
}
#imagenPie{
	width: 60px;
	height: 60px;
	padding: 0px;
	float: left;
	margin-top: -80px;
	margin-left: 450px;
	text-align: center;
}
#taza{
	width: 60px;
	height: 60px;
}
#derechos{
	color: #000000;
	font-family:'rose';
	font-weight: bold;
	font-size: 12px;
	float: right;
	margin-top: -30px;
	margin-right: 410px;
}

/*----------------------------------------------------------------*/
/*REGISTRO MODAL*/
/*----------------------------------------------------------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #d8dbe2;
  background-color: rgba(0,0,0,0.4);
  transition: all 0.5s;
}
/* Modal Contenido */
.modal-content {
  background-color: #4c5760;
  margin: 15% auto;
  padding: 0px;
  margin-top: 75px;
  border: 1px solid #888;
  width: 40%;
  height: auto;
  border-style: none;
  border-radius: 2%;
	text-align: center;
}
.close {
  color: #000000;
  float: right;
  padding: 10px;
  font-size: 30px;
  font-family:'deco';
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  transition: all 3s;
}
.close:hover,
.close:focus {
  color: #970000;
  text-decoration: none;
  cursor: pointer;
  font-size: 32px;
}
#contactoTitle{
  font-family:'deco';
  font-size: 30px;
  font-weight: bold;
  color: #E7D8C9;
  text-decoration: underline;
}
.input{
  width: 70%;
  height: 15px;
	margin-left: 3%;
  margin-top: 2%;
  background-color: #d8dbe2;
  border-style: none;
  font-family:'rose';
  font-size: 20px;
  border-radius: 2%;
	vertical-align: middle;
}
.input:focus{
  outline: none;
}
.confirm{
  width: 25%;
  height: 30px;
  margin-top: 2%;
  background-color: #695958;
	font-family:'deco';
	font-size: 20px;
	color: #ffffff;
	background-color: #695958;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
}
.confirm:hover{
  background-color: #c8b888;
	color: #000000;
  transition-duration: 0.1s;
  cursor: pointer;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*MENU*/
/*----------------------------------------------------------------*/
#menus{
	width: 960px;
	height: 2320px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4c5760;
}
#productos{
	width: 960px;
	height: 100%;
	padding: 0px;
	margin-left: 0px;
}

/*PRODUCTO 1*/
#p1{
	width: 400px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 40px;
	text-align: center;
	float: left;
}
#p1 img{
	height: auto;
}
#p2{
	width: 400px;
	height: auto;
	margin-bottom: 10px;
	margin-right: 40px;
	text-align: center;
	float: right;
}
#p2 img{
	height: auto;
}
#nombreP{
	width: 380px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: #000000;
}
#nombreP p{
	color: #ffffff;
	padding: 2px 2px;
	font-family:'deco';
	font-size: 20px;
	text-align: center;
}
#imagenP{
	width: 380px;
	height: 260px;
	text-align-last: center;
}
#precioCaja{
	width: 380px;
	height: 30px;
	margin-left: 10px;
	padding: 0px;
	float: none;
	background-color: #000000;
}
#total{
	color: #ffffff;
	padding: 5px 5px;
	font-family:'deco';
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	text-align: center;
}
.precio{
	color: #ffffff;
	width: auto;
	padding: 4px 4px;
	font-family:'deco';
	font-size: 20px;
	margin-top: 0px;
	margin-right: 15px;
	float: right;
	text-align: center;
}


/*----------------------------------------------------------------*/
/*CONTACTO*/
/*----------------------------------------------------------------*/
#contacto{
	width: 960px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4c5760;
}
#titulo{
	font-family:'deco';
	font-size: 20px;
	color: #ffffff;
	margin-right: 0px;
	margin-top: 20px;
	margin-bottom: 5px;
}
#formulario{
	width: 450px;
	height: 300px;
	text-align: center;
	margin-left: 255px;
}
#datos{
	width: 400px;
	height: 300px;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 50px;
	border-color: #000000;
	background-color: #695958;
	margin-right: 0px;
	margin-left: 10px;
}
#datos ul{
	list-style-type: none;
}
input{
	width: 280px;
	height: 20px;
	border-radius: 10px;
	border-style: solid;
	border-width: 0.5px;
	padding: 5px 7px 10px 10px;
	margin:10px;
	margin-left: -20px;
	font-family:'rose';
	font-size: 15px;
}
#texto{
	height: 110px;
	width: 280px;
	border-radius: 10px;
	padding: 5px 7px 10px 10px;
	margin-top: 10px;
	margin-right: 30px;
	font-family:'rose';
	font-size: 15px;
}
#btnEnviar{
	width: 100px;
	height: 35px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #ffffff;
	margin-top: 10px;
	color: #000000;
	font-family:'deco';
	font-size: 20px;
	background-color: #C8B888;
	margin-left: 0px;
}
#btnEnviar:hover{
	background-color: #b2945b;
}





/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*INCIO RESPONSIVE*/
/*----------------------------------------------------------------------------------*/
/*Tablets o dispositivos medianos*/

@media all and (min-width: 600px) and (max-width: 1023px){

/*----------------------------------------------------------------*/
/*ENCABEZADO*/
/*----------------------------------------------------------------*/
header{
	width: 580px;
	height: 150px;
}
#logotipo{
	width: 350px;
	height: 90px;
	margin-left: 115px;
}
#logotipo h1{
	font-size: 55px;
}
#bienvenida{
	width: 250px;
	margin-left: 100px;
	margin-top: 18px;
}
#saldo{
	width: 120px;
	height: 30px;
	margin-left: 0px;
	margin-top: 15px;
}
#nombre{
	font-size: 18px;
}
#saldoDis{
	font-size: 22px;
}
#log{
	width: 100px;
	height: auto;
	float: left;
	margin-top: 35px;
}
.singIn{
	font-size: 12px;
}
.cart{
	margin-left: 140px;
	margin-top: 16px;
}
.cart-img img{
	height: 25px;
	margin-top: 10px;
	margin-left: 55px;
}
.cart-cuerpo{
	font-size: 15px;
}
#add-carro{
	font-size: 13px;
}
#redes{
	width: 40px;
	height: 145px;
	margin-top: -90px;
}
#redes ul li{
	display: block;
	margin-top: 10px;
	margin-left: -35px;
}
/*----------------------------------------------------------------*/
/*INICIO*/
/*----------------------------------------------------------------*/
#inicio{
	width: 580px;
	height: 1980px;
}
#menu{
	width: 580px;
	height: 150px;
}
#menu ul li{
	display: block;
}
#menu ul li a{
	display: block;
	height: 50px;
	width: 580px;
	font-size: 19px;
	border-style: solid;
	border-width: 0.2px;
	border-color: #695958;
}
#menu p{
	margin-top: 10px;
}
#menu a:hover{
	height: 50px;
}
#btnInicio{
	margin-left: -40px;
}
#btnMenus{
	margin-left: -40px;
}
#btnContacto{
	margin-left: -40px;
}
#foto1{
	width: 570px;
	height: auto;
	float: none;
	padding: 0px 0px 0px 0px;
	margin-left: 5px;
	margin-top: 10px;
	background-color: #ffffff;
}
#lugar1{
	width: 560px;
	height: auto;
	padding: 5px 5px 5px 5px;
	margin-top: 3px;
}
#texto1{
	width: 500px;
	height: 200px;
	float: none;
	margin-left: 40px;
	margin-top: 10px;
	text-align: center;
}
#texto1 h3{
	font-family:'rose';
	font-size: 14px;
}
#posters{
	width: 580px;
	height: auto;
	float: none;
	margin-top: 10px;
	margin-right: 0px;
}
#poster1{
	float: none;
	width: 260px;
	height: auto;
	margin-left: 10px;
}
#poster2{
	float: none;
	width: 280px;
	height: auto;
	margin-right: 0px;
	margin-left: 15px;
}
#irMenu ul li a{
	width: 220px;
	margin-left: 140px;
	margin-top: 10px;
}
#foto2{
	height: 244px;
	float: none;
	margin-left: 130px;
}
#granos{
	height: auto;
}
#foto3{
	width: 560px;
	height: auto;
	float: none;
	margin-right: 0px;
	margin-left: 8px;
	padding: 2px 2px 0px 4px;
}
#grupal{
	width: 555px;
	height: auto;
	margin-left: 2px;
	margin-top: 1px;
}
/*----------------------------------------------------------------*/
/*PIE DE PAGINA*/
/*----------------------------------------------------------------*/
footer{
	width: 580px;
	height: 100px;
}
h4{
	width: 100px;
	margin-left: 260px;
	font-size: 40px;
}
#imagenPie{
	width: 40px;
	height: 40px;
	float: none;
	margin-top: -60px;
	margin-left: 270px;
}
#taza{
	width: 40px;
	height: 40px;
}
#derechos{
	width: 150px;
	height: 15px;
	font-size: 8px;
	float: none;
	margin-top: 2px;
	margin-left: 245px;
}
/*----------------------------------------------------------------*/
/*REGISTRO MODAL*/
/*----------------------------------------------------------------*/
#contactoTitle{
	margin-left: -25%;
}
.input{
  font-size: 15px;
}
.confirm{
  width: auto;
  height: 30px;
	margin-left: 5px;
	font-size: 15px;
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*MENU*/
/*----------------------------------------------------------------*/
#menus{
	width: 580px;
	height: 4475px;
}
#productos{
	width: 580px;
}
/*PRODUCTO 1*/
#p1{
	margin-left: 90px;
}
#p2{
	margin-right: 90px;
}
#total{
	width: 300px;
}
/*----------------------------------------------------------------*/
/*CONTACTO*/
/*----------------------------------------------------------------*/
#contacto{
	width: 580px;
	height: 590px;
}
#formulario{
	margin-left: 65px;
}
/*----------------------------------------------------------------*/
}
/* FIN @MEDIA 600px a 1023px TABLETS  */
/*----------------------------------------------------------------*/






/*------------------------------------------------*/
/*Inicio @Media PHONES*/
/*------------------------------------------------*/
@media all and (max-width: 599px){
	/*----------------------------------------------------------------*/
	/*ENCABEZADO*/
	/*----------------------------------------------------------------*/
	header{
		width: 90%;
		height: 150px;
	}
	#logotipo{
		width: 100%;
		height: 50px;
		margin-left: 0px;
	}
	#logotipo h1{
		font-size: 40px;
	}
	#bienvenida{
		width: 100%;
		height: 20px;
		margin-left:0px;
		margin-top: 35px;
	}
	#saldo{
		width: 100%;
		height: 20px;
		margin-left: 0px;
		margin-top: 10px;
	}
	#nombre{
		margin-top: 0px;
		font-size: 12px;
	}
	#saldoDis{
		font-size: 18px;
	}
	#log{
		width: 80px;
		height: auto;
		float: right;
		margin-top: 0px;
	}
	.singIn{
		font-size: 10px;
	}
	.cart{
		width: 100px;
		height: 30px ;
		margin-left: 0px;
		float: right;
	}
	.cart-img{
		width: auto;
		height: auto;
	}
	.cart-img img{
		height: 12px;
		margin-top: 10px;
		margin-left: 0px;
		margin-right: -5px;
	}
	#cantidad{
		display: none;
	}
	#cantidad2{
		margin-top: 10px;
		margin-right: 10px;
	}
	.cart-cuerpo{
		font-size: 12px;
	}
	#add-carro{
		height: 20px;
		font-size: 12px;
		border-radius: 5px;
	}
	#redes{
		width: 100px;
		height: 20px;
		float: none;
		text-align: center;
		margin-left: -55px;
	}
	#redes ul li{
		margin-left: 22px;
	}
	#redes	img{
		width: 20px;
		height: 20px;
	}
	/*----------------------------------------------------------------*/
	/*INICIO*/
	/*----------------------------------------------------------------*/
	#inicio{
		width: 90%;
		height: 100%;
		text-align: center;
	}
	#menu{
		width: 100%;
		height: auto;
	}
	#menu ul li{
		display: block;
	}
	#menu ul li a{
		display: block;
		width: 100%;
		height: 30px;
		font-size: 15px;
		border-style: solid;
		border-width: 0.1px;
		border-color: #695958;
	}
	#menu p{
		margin-top: 5px;
	}
	#menu a:hover{
		height: 30px;
	}
	#btnInicio{
		margin-left: -40px;
	}
	#btnMenus{
		margin-left: -40px;
	}
	#btnContacto{
		margin-left: -40px;
	}
	#foto1{
		width: 96.8%;
		height: auto;
		float: none;
		padding: 2px 2px 2px 2px;
		margin-left: 3px;
		margin-top: 10px;
		background-color: #ffffff;
	}
	#lugar1{
		width: 99%;
		height: auto;
		margin-top: 5px;
	}
	#texto1{
		width: 90%;
		height: auto;
		float: none;
		margin-left:10px;
		text-align: center;
	}
	#texto1 h3{
		font-family:'rose';
		font-size: 10px;
		font-weight: 100;
		font-stretch: condensed;
		color: #ffffff;
	}
	#posters{
		width: 100%;
		height: auto;
		float: none;
		margin-top: 25px;
		margin-bottom: 10px;
		margin-right: 0px;
	}
	#poster1{
		float: none;
		width: 96%;
		height: auto;
		margin-left: 0px;
		margin-bottom: 10px;
	}
	#poster2{
		float: none;
		width: 96%;
		height: auto;
		margin-left: 0px;
	}
	#irMenu{
		text-align: center;
	}
	#irMenu ul li a{
		display: block;
		height: 40px;
		width: 100%;
		margin-left: -20px;
	}
	#foto2{
		width: 96%;
		height: auto;
		float: none;
		margin-left: 3.7px;
		margin-top: 40px;
	}
	#granos{
		width: 100%;
		height: auto;
		margin-top: 5px;
	}
	#foto3{
		width: 96%;
		height: auto;
		float: none;
		margin-right: 0px;
		margin-left: 3px;
		margin-bottom: 10px;
	}
	#grupal{
		width: 100%;
		height: auto;
		margin-top: 5px;
	}

	/*----------------------------------------------------------------*/
	/*PIE DE PAGINA*/
	/*----------------------------------------------------------------*/
	footer{
		width: 90%;
		height: 50px;
	}
	h4{
		width: 65px;
		margin-left: 10px;
		margin-top: 0px;
		font-size: 40px;
	}
	#imagenPie{
		width: 40px;
		height: 40px;
		float: none;
		margin-top: -100px;
		margin-left: 80px;
		text-align: center;
	}
	#taza{
		width: 40px;
		height: 40px;
	}
	#derechos{
		font-size: 11px;
		float: none;
		margin-top: -30px;
		margin-right: 0px;
		margin-left: 135px;
	}

	/*----------------------------------------------------------------*/
	/*REGISTRO MODAL*/
	/*----------------------------------------------------------------*/
	#contactoTitle{
	  font-size: 15px;
		margin-left: 10%
	}
	.input{
	  width: 75%;
	  height: 12px;
		margin-left: 3%;
	  font-size: 10px;
	}
	.confirm{
	  width: auto;
	  height: 20px;
	  margin-top: 2%;
		margin-left: 4%;
		font-size: 10px;
	}
	/*----------------------------------------------------------------*/
	/*----------------------------------------------------------------*/
	/*MENU*/
	/*----------------------------------------------------------------*/
	#menus{
		width: 90%;
		height: 2000px;
		overflow: scroll;
	}
	#productos{
		width: 100%;
		height: 100%;
		margin-left: 0px;
	}
	/*PRODUCTO 1*/
	#p1{
		width: 100%;
		margin-left: 0px;
		margin-bottom: 40px;
		float: none;
	}
	#p1 img{
		width: 90%;
	}
	#p2{
		width: 100%;
		height: auto;
		margin-right: 0px;
		margin-bottom: 40px;
		float: none;
	}
	#p2 img{
		width: 90%;
	}
	#nombreP{
		width: 96%;
		height: 20px;
		margin-left: 5px;
	}
	#nombreP p{
		font-size: 13px;
	}
	#precioCaja{
		width:96% ;
		height: 25px;
		margin-left: 5px;
	}
	#total{
		font-size: 10px;
		margin-top: 2px;
	}
	.precio{
		font-size: 13px;
		margin-top: 2px;
		margin-right: 2px;
	}

	/*----------------------------------------------------------------*/
	/*CONTACTO*/
	/*----------------------------------------------------------------*/
	#contacto{
		width: 90%;
		height: 500px;
	}
	#titulo{
		font-size: 13px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
	}
	#formulario{
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
	#datos{
		width: 90%;
		height: auto;
		margin-right: 0px;
		margin-left: 2.8px;
		border-radius: 15px;
		border-width: 0.5px;
	}
	input{
		width: 100%;
		border-radius: 7px;
		margin-left: -26px;
		font-size: 12px;
	}
	#texto{
		width: 98%;
		border-radius: 7px;
		margin-right:0px;
		float: left;
		margin-left: -26px;
		font-size: 12px;
	}
	#btnEnviar{
		width: 100%;
		height: 35px;
		border-style: solid;
		border-radius: 7px;
		margin-top: 20px;
		font-size: 15px;
	}
/*----------------------------------------------------------------*/
}
/* FIN @MEDIA 599PX PHONES  */
/*----------------------------------------------------------------*/
